<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000080; font-size: 17px !important">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" class="nav-link active" aria-current="page"
                        rel="noopener noreferrer">Начало</a>
                </li>
                <li class="nav-item" *ngIf="!urlPath.includes('/edit-user')">
                    <a class="nav-link" routerLink="/add-user" rel="noopener noreferrer">Добави</a>
                </li>
                <li class="nav-item" *ngIf="urlPath !== '/add-user'">
                    <a class="nav-link" routerLink="/edit-user" rel="noopener noreferrer">Редактирай</a>
                </li>
            </ul>
        </div>
    </div>
</nav>