<h3 class="mb-4 mt-3" style="font-weight: 600">Добавяне на потребител</h3>
<form #usersForm="ngForm" (ngSubmit)="addUser(user)">
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Първо име:</label>
        <div class="col-sm-5">
            <input #firstName="ngModel" name="firstName" type="text" pattern="[^0-9&*',.#@!$\[\]\{\}]*" placeholder="Моля въведете първо име..." class="form-control" [(ngModel)]="user.firstName" required="true" />
        </div>
        <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="firstName.errors">{{ firstName.errors['pattern'] ? invalidFieldMessage(firstName) : !user.firstName ? alertError() : null }}</div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Фамилия:</label>
        <div class="col-sm-5">
            <input #lastName="ngModel" name="lastName" type="text" pattern="[^0-9&*',.#@!$\[\]\{\}]*" (ngModelChange)="upperCaseValidation(user.lastName)" placeholder="Моля въведете фамилия..." class="form-control" [(ngModel)]="user.lastName" required="true" />
        </div>
        <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="lastName.errors">{{ lastName.errors['pattern'] ? invalidFieldMessage(lastName) : !user.lastName ? alertError() : null }}</div>
    </div>
    <div class="form-group row">
        <label for="occupation" class="col-sm-2 col-form-label">Професия:</label>
        <div class="col-sm-5">
            <input #occupation="ngModel" name="occupation" type="text" pattern="[^0-9&*',.#@!$\[\]\{\}]*" placeholder="Моля въведете професия..." class="mw-10 form-control" [(ngModel)]="user.occupation" required="true" />
        </div>
        <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="occupation.errors">{{ occupation.errors['pattern'] ? invalidFieldMessage(occupation) : !user.occupation ? alertError() : null }}</div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">Пол:</label>
            <div class="col-sm-5 btn-group">
                <button type="button" class="btn text-start border" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.gender ? user.gender : 'Моля изберете пол' }}</button>
                <div class="col-sm-12 dropdown-menu" >
                    <div [ngClass]="user.gender === 'Мъж' ? 'dropdown-item active' : 'dropdown-item'"  type="button" data-value="Мъж" (click)="selectGender($event)">Мъж</div>
                    <div class="dropdown-divider" style="background-color: #5555B1"></div>
                    <div [ngClass]="user.gender === 'Жена' ? 'dropdown-item active' : 'dropdown-item'"  type="button" data-value="Жена" (click)="selectGender($event)">Жена</div>
                </div>             
            </div>
            <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="!user.gender">{{ alertError() }}</div>
    </div>
    <div class="form-group row">
        <label for="birthDate" class="col-sm-2 col-form-label">Дата на раждане:</label>
        <div class="col-sm-5">
            <input #birthDate="ngModel" name="birthDate" type="text" class="form-control" style="cursor: pointer;" [(ngModel)]="user.birthDate" placeholder="Моля изберете дата на раждане" onfocus="(this.type = 'date')" required="true" />
        </div>
        <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="birthDate.errors">{{ alertError() }}</div>
    </div>
    <div class="form-group row">
        <button type="submit" class="col-sm-2 btn btn-primary" [disabled]="usersForm.invalid">Потвърди</button>
        <button type="reset" class="col-sm-2 btn btn-primary" (click)="clear()">Отказ</button>
    </div>
</form>