@if (show) {
<ngb-toast class="position-fixed top-0 end-0" role="alert" [autohide]="false" (hidden)="show = false"
    style="color: #ED0000">
    <ng-template ngbToastHeader>
        <div class="me-auto" style="color: #D10000">
            <strong class="mx-1">Затворете от тук →</strong><small
                [ngStyle]="{ 'margin-left': mins === 0 ?  '100px' : '60px', 'font-style': 'italic' }">{{ mins === 0 ?
                'току-що' : 'преди ' + mins }} {{ mins === 0 ? '' : mins === 1 ? 'минута' : 'минути' }}</small>
        </div>
    </ng-template>
    <i class="bi bi-exclamation-triangle"></i> {{ errorMsg }}
</ngb-toast>
}

<div class="container mx-auto" id="edit-page-id">
    <h3 class="mb-4 mt-3" style="font-weight: 600">Редактиране на потребител - {{ user.firstName }}</h3>
    <form #usersForm="ngForm" (ngSubmit)="addUser(user)">
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">Първо име:</label>
            <div class="col-sm-5">
                <input #firstName="ngModel" name="firstName" type="text" pattern="[^0-9&*',.#@!$\[\]\{\}]*"
                    placeholder="Моля въведете първо име..." class="form-control" [(ngModel)]="user.firstName"
                    required="true" />
            </div>
            <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="firstName.errors">{{
                firstName.errors['pattern'] ? invalidFieldMessage(firstName) : !user.firstName ? alertError() : null }}
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Фамилия:</label>
            <div class="col-sm-5">
                <input #lastName="ngModel" name="lastName" type="text" pattern="[^0-9&*',.#@!$\[\]\{\}]*"
                    placeholder="Моля въведете фамилия..." class="form-control" [(ngModel)]="user.lastName"
                    required="true" />
            </div>
            <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="lastName.errors">{{
                lastName.errors['pattern'] ? invalidFieldMessage(lastName) : !user.lastName ? alertError() : null }}
            </div>
        </div>
        <div class="form-group row">
            <label for="occupation" class="col-sm-2 col-form-label">Професия:</label>
            <div class="col-sm-5">
                <input #occupation="ngModel" name="occupation" type="text" pattern="[^0-9&*',.#@!$\[\]\{\}]*"
                    placeholder="Моля въведете професия..." class="mw-10 form-control" [(ngModel)]="user.occupation"
                    required="true" />
            </div>
            <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="occupation.errors">{{
                occupation.errors['pattern'] ? invalidFieldMessage(occupation) : !user.occupation ? alertError() : null
                }}</div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-2 col-form-label">Пол:</label>
            <div class="col-sm-5 btn-group">
                <button type="button" class="btn text-start border" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">{{ user.gender ? user.gender : 'Моля изберете пол' }}</button>
                <div class="col-sm-12 dropdown-menu">
                    <div [ngClass]="user.gender === 'Мъж' ? 'dropdown-item active' : 'dropdown-item'" type="button"
                        data-value="Мъж" (click)="selectGender($event)">Мъж</div>
                    <div class="dropdown-divider" style="background-color: #5555B1"></div>
                    <div [ngClass]="user.gender === 'Жена' ? 'dropdown-item active' : 'dropdown-item'" type="button"
                        data-value="Жена" (click)="selectGender($event)">Жена</div>
                </div>
            </div>
            <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="!user.gender">{{ alertError() }}</div>
        </div>
        <div class="form-group row">
            <label for="birthDate" class="col-sm-2 col-form-label">Дата на раждане:</label>
            <div class="col-sm-5">
                <input #birthDate="ngModel" name="birthDate" type="date" class="form-control" style="cursor: pointer;"
                    [(ngModel)]="user.birthDate" placeholder="Моля изберете дата на раждане" required="true" />
            </div>
            <div class="col-sm-5 text-danger d-flex align-items-center" *ngIf="birthDate.errors">{{ alertError() }}
            </div>
        </div>
        <div class="form-group row" style="margin-top: 10px; margin-bottom: 10px">
            <div class="col-sm-3 d-flex justify-content-start align-items-center">
                <app-file-upload (newItemEvent)="addItem($event)"></app-file-upload>
            </div>
            <div [ngStyle]="{ 'background': user.profilePicture !== '' ? 'url(' + user.profilePicture + ') center center / 140%' : 'url(../../assets/upload-placeholder.svg) center center / 140%' }"
                class="img-placeholder col-sm-5">
            </div>
        </div>
        <div class="form-group row m-3 d-flex gap-5">
            <button type="submit" class="col-sm-2 btn btn-primary" [disabled]="usersForm.invalid">Потвърди</button>
            <button type="reset" class="col-sm-2 btn btn-primary" (click)="clear()">Отказ</button>
        </div>
    </form>
</div>