.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: bolder !important;
}

col-sm-12.btn-group.show .dropdown-menu .dropdown-item:hover {
    color: whitesmoke !important;
    background: #bf5279 !important;
}